# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks

# Firebase (Etapa 2) — nunca versionar segredos
google-services.json
lib/firebase_options.dart

# OS
.DS_Store
Thumbs.db
